* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
}

.al-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-middle {
  text-align: center;
}
